
.no_file_page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.no_file_info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sourcefabric_link {
}

.submit_form_page {
    /* background: #f0f0f0; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.submit_form_info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.newsml_import_form_field {
}
.newsml_import_form_email {
    margin-bottom: 20px;
}
.newsml_import_form_submit {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.conversion_submit_done {
    width: 90%;
    margin-left: auto;
    margin-right:auto;
}
.conversion_submit_failed {
    width: 90%;
    margin-left: auto;
    margin-right:auto;
}

.conversion_submit_done_info {
    margin-top: 20px;
    margin-bottom: 20px;
}
.conversion_submit_failed_info {
    margin-top: 20px;
    margin-bottom: 20px;
}
.conversion_submit_failed_reason {
    color: #c04000;
    margin-bottom: 20px;
}

.import_back_link {
}

